@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.header{
  background-image: url("images/pattern-bg.png");
  background-size: 100%;
  width: 100%;
  height: 40%;
  text-align: center;
  padding: 20px 20px 150px 20px;
  position: relative;
}

.header h1{
  color: white;
}

.search-container{
  display: flex;
  padding: 16px 0;
  justify-content: center;
}

.header .search-container input{
  width: 48%;
  padding: 16px;
  margin-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.header .search-container input:focus {
  border: none;
  outline: none;
}

.header img{
  background-color: black;
  width: 74px;
  padding: 28px;
  margin-left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box-container{
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  position: absolute;
  width: 90%;
  z-index: 1;
  /* margin-left: 4rem; */
  display: flex;
  justify-content: space-around;
}
.ip-container, .location-container, .time-container, .isp-container{
    padding-bottom: 15px;
    line-height: 1.5;
}


footer {
  position: fixed;
  font-size: 10px;
  bottom: 8px;
  width: 100%;
}

footer a {
  color: hsl(228, 45%, 44%);
}
