* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.upper-banner {
  padding: 1rem 1.5rem;
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 40vh;
  width: 100%;
  color: white;
}

.upper-banner h1 {
  font-size: 1.5em;
  padding: 8px 8px;
}

#ipAddressInput {
  padding: 1rem 1.25rem;
  border: none;
  width: 30%;
  border-radius: 12px 0 0 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

form {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

form button {
  border: none;
  background-color: hsl(0, 0%, 17%);
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  padding:8px 16px;
}


.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 8px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
